
#gameTable td
{
	cursor:pointer;
	width:32px;
  	height:32px;
	border-right:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-left:1px solid #ffffff;
	border-top:1px solid #ffffff;
	background-color:#F7E9D4;
	text-align:center;
	padding:0;
	vertical-align:middle;
	font-size:14px;
}

#gameTable .nodilei
{
	background-color:#FFFFFF;
}

#gameTable .biaoshi
{
	background-color:#EC870E;
}

#gameTable .dilei
{
	background-color:#000000;
}

