<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="head">
    <title>##Title##</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="##Keywords##" />
    <meta name="description" content="##Description##" />
    <!-- Framework CSS -->
    <link rel="stylesheet" href="./css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="./css/blueprint/print.css" type="text/css" media="print" />
    <!--[if IE]><link rel="stylesheet" href="./css/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
    <link rel="stylesheet" href="./css/blueprint/plugins.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="./css/style.css" type="text/css" media="screen, projection" />
</head>
<body>
    <div class="container">
        <div class="column span-24">
            <h2 class="bottom">
                ##Title##
            </h2>
        </div>
        <div class="column span-24">
            <div class="left" style="padding-left: 20px;">
                <i class="gray">##SubTitle##</i>
            </div>
            <div class="right">
                ##Menu##
            </div>
        </div>
        <div class="menubar">
        </div>
        <div class="column span-24">
            <div class="notice">
                本项目已经开源，浏览&nbsp;<a href="http://code.google.com/p/minigame/">http://code.google.com/p/minigame/</a>&nbsp;下载源代码。
            </div>
        </div>
        <div class="column span-5">
            <h6>
                在线游戏</h6>
            <div style="padding-left: 10px;">
                <ul id="ulGameList">
                    <li><a href="./tugezi/tugezi.htm">凃格子</a><a href="./tugezi/tugezi.zip">&nbsp;&nbsp;<img class="reset-margin" alt="tugezi"
                        src="./img/download.gif" /></a></li>
                    <li><a href="./llk/llk.htm">连连看</a><a href="./llk/llk.zip">&nbsp;&nbsp;<img class="reset-margin" alt="tugezi"
                        src="./img/download.gif" /></a></li>
                    <li><a href="./eluosi/eluosi.htm">俄罗斯方块</a><a href="./eluosi/eluosi.zip">&nbsp;&nbsp;<img class="reset-margin" alt="tugezi"
                        src="./img/download.gif" /></a></li>
                    <li><a href="./pintu/pintu.htm">记忆拼图</a><a href="./pintu/pintu.zip">&nbsp;&nbsp;<img class="reset-margin" alt="tugezi"
                        src="./img/download.gif" /></a></li>
                    <li><a href="./paixu/paixu.htm">数字排序</a><a href="./paixu/paixu.zip">&nbsp;&nbsp;<img class="reset-margin" alt="tugezi"
                        src="./img/download.gif" /></a></li>
                    <li><a href="./snake/snake.htm">贪吃蛇</a><a href="./snake/snake.zip">&nbsp;&nbsp;<img class="reset-margin" alt="tugezi"
                        src="./img/download.gif" /></a></li>
                    <li><a href="./idiom/idiom.htm">成语连线</a><a href="./idiom/idiom.zip">&nbsp;&nbsp;<img class="reset-margin" alt="tugezi"
                        src="./img/download.gif" /></a></li>
                    <li><a href="./reflex/reflex.htm">反应速度</a><a href="./reflex/reflex.zip">&nbsp;&nbsp;<img class="reset-margin" alt="tugezi"
                        src="./img/download.gif" /></a></li>
                    <li><a href="./saolei/saolei.htm">扫雷</a><a href="./saolei/saolei.zip">&nbsp;&nbsp;<img class="reset-margin" alt="tugezi"
                        src="./img/download.gif" /></a></li>
                    <li><a href="./recover/recover.htm">图片还原</a><a href="./recover/recover.zip">&nbsp;&nbsp;<img class="reset-margin" alt="tugezi"
                        src="./img/download.gif" /></a></li>
                </ul>
            </div>
            <h6>
                友情链接</h6>
            <div style="padding-left: 10px;">
                <ul>
                    <li><a title="三石的个人主页" href="http://home.ustc.edu.cn/~zlei7">三石的个人主页</a></li>
                    <li><a title="成语连连看-多用户在线网页游戏" href="http://llk.yatrack.cn/">在线成语连连看</a></li>
                    <li><a title="为全球华人提供领先的个人门户网站" href="http://www.yarack.cn/">雅客个人门户</a></li>
                    <li><a href="http://hi.baidu.com/yatrack/">雅客官方博客</a></li>
                    <li><a href="http://www.vayn.cn/sundries/game/index_05%7E09.html">Vayn's Mini Games</a></li>
                </ul>
            </div>
        </div>
        <div class="column span-19 last">
            ##MainContent##
        </div>
        <div class="menubar">
        </div>
        <div class="column span-24">
            <i class="gray">##Footer##</i>
        </div>
    </div>
</body>
</html>
