<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BasePath" value="D:\JSGame\JSGame.Web\"/>
    <add key="Version" value="2.0"/>
    <add key="GameNames" value="tugezi,llk,eluosi,pintu,paixu,snake,idiom,reflex,saolei,recover"/>

    <add key="Title" value="小石头网页游戏"/>
    <add key="SubTitle" value="一款使用Javascript编写的网页小游戏集合，提供单机版下载，完全免费。"/>
    <add key="Description" value="谨以此程序作为送给俺家小师的生日礼物，祝愿小师生日快乐!学习进步!天天好心情!（2007-09-01） 小石头网页游戏,小游戏,网页游戏,Javascript游戏,Ajax游戏,在线游戏,在线网页游戏,单机版游戏,免费游戏。作者：sanshi.ustc@gmail.com 主页：http://code.google.com/p/minigame/default.htm"/>
    <add key="Keywords" value="小石头网页游戏,小游戏,网页游戏,Javascript游戏,Ajax游戏,在线游戏,在线网页游戏,单机版游戏,免费游戏。作者：sanshi.ustc@gmail.com 主页：http://code.google.com/p/minigame/default.htm"/>
  </appSettings>
</configuration>